<!DOCTYPE html>
<html>
  <head>
    <title>TweetAppRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/">TweetApp</a>
      </div>

      <ul class="header-menus">
        <% if session[:user_id] %>
          <li>現在ログイン中のID：<%= session[:user_id] %></li>
          <li><%= link_to("投稿一覧", "/posts/index") %></li>
          <li><%= link_to("新規投稿", "/posts/new") %></li>
          <li><%= link_to("ユーザー一覧", "/users/index") %></li>
        <% else %>
          <li><%= link_to("TweetAppとは", "/about") %></li>
          <li><%= link_to("ログイン", "/login") %></li>
          <li><%= link_to("新規登録", "/signup") %></li>
        <% end %>
      </ul>

    </header>
    <%= yield %>
  </body>
</html>